* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.middlebox {
    display: grid;
    justify-content: center;
    margin: auto;
}

.navbar {
    width: 80vw;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.logo {
    font-size: 4rem;
}

.searchinput {
    width: 25vw;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.inputs {
    display: flex;
    align-items: center;
}

#marginicon {
    margin-left: 1rem;
    cursor: pointer;
}

.buttons {
    width: 80vw;
    height: 2rem;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a {
    margin-left: 22px;
    color: #000000;
}

.icons {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#cart {
    margin-right: 1rem;
}

.mainimg {
    width: 60vw;
    display: flex;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mainimgae {
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

.images {
    width: 80vw;
    height: 43rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

.images a {
    color: black;
}

.twoimages {
    display: flex;
    height: 43rem;
    flex-direction: column;
    justify-content: space-around;
}

.twoimages a {
    color: black;
}

.footer {
    width: 100vw;
    height: 30rem;
    background-color: black;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:white;
}

.footerlogo{
    font-size: 4rem;
    font-weight:bold;
    color:white;
}

.itemsbox{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.boxOne{
    width:35vw;
    height:26rem;
    border:2px solid black;
    margin-top: 1rem;
    padding: 1rem
}

.boxOne a {
    color:black;
}

.imgitem{
    width:30vw;
    height:20rem;
    display: flex;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.flexing{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainbox{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.insideimtem{
    width:30vw;
    height:20rem;
}

.infobox{
    width:40vw;
    height:50rem;
}

.itemmargin{
    margin-top: 5px;
}

.flexbtns{
display: flex;
}

.greenbtns{
    padding: 10px;
    border:none;
    background-color:rgb(55, 134, 55);
    color:white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 2rem;
    border-radius: 6px;
}

.Description{
    margin-top: 1.4rem;
}