
{% extends 'base.html' %}

{% block titlehere %}Electronics{% endblock titlehere %}

{% block codehere %}

<div class="itemsbox">

    <div class="boxOne">
        <a href="{% url 'Acer' %}">
            <h1>AcerLaptop</h1>
            <img src="/static/images/laptop.jpg" alt="" class='imgitem'>
            <div class="flexing">
                <h4>4.2 Rating</h4>
                <h1>Rs:70,999/-</h1>
            </div>
        </a>
    </div>
    <div class="boxOne">
        <a href="">
            <h1>Washing Machine</h1>
            <img src="/static/images/wash.jpg" alt="" class='imgitem'>
            <div class="flexing">
                <h4>3.5 Rating</h4>
                <h1>Rs:18,677/-</h1>
            </div>
        </a>
    </div>
    <div class="boxOne">
        <a href="">
            <h1>AsusRog</h1>
            <img src="/static/images/asus.jpg" alt="" class='imgitem'>
            <div class="flexing">
                <h4>4.1 Rating</h4>
                <h1>Rs:59,899/-</h1>
            </div>
        </a>
    </div>
    <div class="boxOne">
        <a href="">
            <h1>Refrigerator</h1>
            <img src="/static/images/reg.jpg" alt="" class='imgitem'>
            <div class="flexing">
                <h4>3.4 Rating</h4>
                <h1>Rs:21,999/-</h1>
            </div>
        </a>
    </div>
   
</div>

{% endblock codehere %}