<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CostLess</title>

    <link rel="shortcut icon" href="/static/images/logo.png" type="image/png">

    <link rel="stylesheet" href="/static/cssfiles/style.css">

</head>

<body>

    <div class="middlebox">

        <div class="navbar">
            <div class="logo">
                COSTless
            </div>
            <div class="inputs">
                <input type="search" placeholder='Search' class='searchinput'>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16" id='marginicon'>
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </div>
        </div>

        <div class="buttons">
            <div class="links">
                <a href='#'>Home</a>
                <a href='#'>Shop</a>
                <a href='#'>Electroics</a>
                <a href='#'>Kids</a>
                <a href='#'>Mens</a>
                <a href='#'>Ladies</a>
                <a href='#'>Laptops</a>
                <a href='#'>Mobile's</a>
            </div>
            <div class="icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16" id='cart'>
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-cart-check" viewBox="0 0 16 16">
                    <path
                        d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                    <path
                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
            </div>
        </div>

        <div class="menuopenedbar" id='MobileScreenOpen'>

            <div class="menubox">
                <h1>COSTless</h1>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16" onclick='Close()'>
                    <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                    <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                  </svg>
            </div>

            <div class='mobilinks'>
                <a href='#'>Home</a>
                <a href='#'>Shop</a>
                <a href='#'>Electroics</a>
                <a href='#'>Kids</a>
                <a href='#'>Mens</a>
                <a href='#'>Ladies</a>
                <a href='#'>Laptops</a>
                <a href='#'>Mobile's</a>
            </div>

        </div>

        <div class="mobilenavbar">

            <div class="menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" onclick='Open()'>
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
            </div>
            <div class="mobilelogo">
                COSTless
            </div>
            <div class="mobileinputs">
                <input type="search" placeholder='Search' class='mobsearch'>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16" id='marginicon'>
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
            </div>
            <div class="mobicons">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16" id='cart'>
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-cart-check" viewBox="0 0 16 16">
                    <path
                        d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                    <path
                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
            </div>

        </div>

        <div class="mainimgae">
            <img src="/static/images/Mainimage.png" alt="" class='mainimg'>
        </div>

        <h1>ShopAll</h1>

        <div class='images'>

            <div class="elect">
                <a href='{% url 'allitems' %}'>
                    <img src="/static/images/electimage.png" alt="">
                    <h1>Electronics</h1>
                </a>
            </div>

            <div class="twoimages">
                <div class="ladies">
                    <a href='{% url 'allitems' %}'>
                        <img src="/static/images/ladiesimage.png" alt="">
                        <h1>Ladies Fashion</h1>
                    </a>
                </div>
                <div class="men">
                    <a href='{% url 'allitems' %}'>
                        <img src="/static/images/menimage.png" alt="">
                        <h1>Men's Fashion</h1>
                    </a>
                </div>
            </div>

        </div>

        <h1>FooterSection</h1>

    </div>

    <div class="footer">
        <div class="footerlogo">
            COSTless
        </div>

        <div>
            <h1>About</h1>
            <h3>
                <li>This Hole Website is <br> Developed Only S.Manjunath</li>
            </h3>
        </div>

        <div>
            <h1>Payment</h1>
            <h3>
                <li>Upi</li>
            </h3>
            <h3>
                <li>CreditCard</li>
            </h3>
            <h3>
                <li>DebitCard</li>
            </h3>
            <h3>
                <li>Paytm</li>
            </h3>
            <h3>
                <li>ALi Babba</li>
            </h3>
        </div>

    </div>

    <script>
        function Open(){
            let Screen = document.getElementById('MobileScreenOpen');
            Screen.style.width = '100vw'
        }
        function Close(){
            let Screen = document.getElementById('MobileScreenOpen');
            Screen.style.width = '0vw'
        }
    </script>

</body>

</html>