{% extends 'base.html' %}

{% block titlehere %}Acernitro{% endblock titlehere %}

{% block codehere %}

<div class="mainbox">

    <div class="imageandbox">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
            class="bi bi-caret-left-square-fill" viewBox="0 0 16 16">
            <path
                d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm10.5 10V4a.5.5 0 0 0-.832-.374l-4.5 4a.5.5 0 0 0 0 .748l4.5 4A.5.5 0 0 0 10.5 12z" />
        </svg>
        <img src="/static/images/laptop.jpg" alt="" class='insideimtem'>
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
            class="bi bi-caret-right-square-fill" viewBox="0 0 16 16">
            <path
                d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4v8z" />
        </svg>
    </div>

    <div class="infobox">
        <h1>Acer Nitro laptop</h1>
        <h3 class="itemmargin">Good Laptop under 80k. Best for gaming and editing</h3>
        <h5 class="itemmargin">4.2 Rating by Customers</h5>

        <div class="flexbtns">
            <button class="greenbtns">BuyNow</button>
            <button class="greenbtns">AddToCart</button>
        </div>

        <h1 class="Description">Description</h1>
        <hr>
        <h3>i5 11Gen Intel Cpu, Gpu Nvidia 2070ti 4gb Gpu..</h3>
    </div>
</div>


{% endblock codehere %}